html, body {
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'bad csript' Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container-item-right {
    margin-left: 20px;
}

div span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 3s linear infinite;
}

.container-item-left span:nth-child(1){
    animation-delay: 0s;
}
.container-item-left span:nth-child(2){
    animation-delay: 0.25s;
}
.container-item-left span:nth-child(3){
    animation-delay: 0.5s;
}
.container-item-left span:nth-child(4){
    animation-delay: 0.75s;
}
.container-item-left span:nth-child(5){
    animation-delay: 1s;
}



.container-item-right span:nth-child(1) {
    animation-delay: 1.25s;
}
.container-item-right span:nth-child(2) {
    animation-delay: 1.5s;
}
.container-item-right span:nth-child(3) {
    animation-delay: 1.75s;
}
.container-item-right span:nth-child(4) {
    animation-delay: 2s;
}
.container-item-right span:nth-child(5) {
    animation-delay: 2.25s;
}


@keyframes animate {
    0%, 100% {
        color: cyan;
        filter: blur(0px);
        text-shadow: 0px 0px 10px #55ff00,
                     0px 0px 20px #55ff00,
                     0px 0px 30px #55ff00,
                     0px 0px 40px #55ff00,
                     0px 0px 60px #55ff00,
                     0px 0px 80px #55ff00,
                     0px 0px 100px #55ff00,
                     0px 0px 120px #55ff00,
                     0px 0px 130px #55ff00,
                     0px 0px 140px #55ff00;
    }
    5%, 95% {
        color: rgba(170, 255, 67, 0);
        filter: blur(0px);
        text-shadow: none;
    }
}
